{% extends "page/connexion.html.twig" %}
{% block detailconnexion %}
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container-fluid">
			<a href="?page=accueil" style="width: 10%;"><img src="img/test.png" alt="logo" style="width: 50%;"></a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
				<div class="navbar-nav">
					{% if session.acces =="oui" %}
						{# {{dump (session)}} #}
						<a class="nav-link" href="?page=accueil">Accueil</a>
						<a class="nav-link" href="?page=jeux">Jeux</a>
						<a class="nav-link" href="?page=mesjeux">Mes jeux</a>
						<a class="nav-link" href="?page=profil">Profil</a>
						<a class="nav-link" href="?page=deconnect">Deconnexion</a>
					{% else %}
						<a class="nav-link" href="?page=accueil">Accueil</a>
						<a class="nav-link" href="?page=jeux">Jeux</a>
						<a class="nav-link" href="?page=connect">Connexion</a>
					{% endif %}
				</div>
			</div>
		</div>
	</nav>
	<form method="post" action="index.php" class="well">
		<fieldset>
			<div id="con">
				<legend style="text-align:center;">Veuillez vous identifiez</legend>
				<div class="form-group row p-0">
					<label for="login" class="col-sm-2 col-form-label col-form-label-sm">Email</label>
					<div class="col-sm-6">
						<input type="email" id="mail" class="form-control form-control-sm" name="mail" required placeholder="Insérez votre adresse mail"/>
					</div>
				</div>
				<div class="form-group row">
					<label for="logpasswdin" class="col-sm-2 col-form-label col-form-label-sm">Mot de passe</label>
					<div class="col-sm-6">
						<input type="password" id="mdp" class="form-control form-control-sm" name="mdp" required placeholder="Insérez votre mot de passe"/>
					</div>
					<br>
				</div>
				<div class="contenair-fluid text-center">
					<input type="submit" class="btn btn-primary bg-dark" style="justify-content: center; align-items:center;" name="connexion" value="Connexion"/>
				</div>
			</div>
		</fieldset>
	</form>
	<div class="contenair-fluid text-center">
		<a class="btn btn-outline-primary bg-dark" style="margin-top:2%;" href="?page=inscription">Inscription</a>
	</div>

{% endblock %}
